<?xml version="1.0" encoding="utf-8"?>
<!-- 
  Note: As an alternative to hand editing this file you can use the 
  web admin tool to configure settings for your application. Use
  the Website->Asp.Net Configuration option in Visual Studio.
  A full list of settings and comments can be found in 
  machine.config.comments usually located in 
  \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>

  <connectionStrings>
    <add name="CMSArchiveDataConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CMSArchiveData;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="dummyConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=null;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="abellandscapes_co_uk_multisiteConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=abellandscapes.co.uk-multisite;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <httpRuntime targetFramework="4.5" />
    <!--  
      Set compilation debug="true" to insert debugging 
      symbols into the compiled page. Because this 
      affects performance, set this value to true only 
      during development.
    -->
    <webControls clientScriptsLocation="/aspnet_client/{0}/{1}/" />
    <webServices>
      <wsdlHelpGenerator href="DefaultWsdlHelpGenerator.aspx" />
    </webServices>
    <compilation debug="true" targetFramework="4.5">

    </compilation>
    <machineKey validationKey="D9F7287EFDE8DF4CAFF79011D5308643D8F62AE10CDF30DAB640B7399BF6C57B0269D60A23FBCCC736FC2487ED695512BA95044DE4C58DC02C2BA0C4A266454C" decryptionKey="BDAAF7E00B69BA47B37EEAC328929A06A6647D4C89FED3A7D5C52B12B23680F4" decryption="AES" />
    <authentication mode="Forms">
      <forms name=".MJJAMESADMINFORMLOGIN" loginUrl="authentication/default.aspx" enableCrossAppRedirects="true" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <membership defaultProvider="SQLMembershipProvider">
      <providers>
        <clear />
        <add applicationName="synthesis" connectionStringName="ourDatabase" passwordFormat="Hashed" requiresQuestionAndAnswer="false" enablePasswordReset="true" enablePasswordRetrieval="false" name="SQLMembershipProvider" type="System.Web.Security.SqlMembershipProvider" />
      </providers>
    </membership>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName=".SYNTHESISADMINROLES" defaultProvider="SQLRoleProvider">
      <providers>
        <clear />
        <add applicationName="synthesis" connectionStringName="ourDatabase" name="SQLRoleProvider" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <trace localOnly="true" />
    <pages>
      <controls>
        <add tagPrefix="mjjames" namespace="mjjames.ControlLibrary.AdminWebControls" assembly="mjjames.ControlLibrary" />
        <add tagPrefix="AjaxControlToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="mjjames" namespace="mjjames.AdminSystem" assembly="Synthesis" />
        <add tagPrefix="mjjames" tagName="SiteSelector" src="~/userControls/SiteSelector.ascx" />
      <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" /></controls>
      <namespaces>
        <!--<clear />
        <add namespace="mjjames.AdminSystem" />-->
      </namespaces>
    </pages>
    <siteMap>
      <providers>
        <add siteMapFile="~/sitemaps/newsletters.sitemap" name="newsletterNavigation" type="System.Web.XmlSiteMapProvider" />
        <add securityTrimmingEnabled="true" connectionStringName="ourDatabase" name="adminNavigation" type="mjjames.core.CustomSqlSiteMapProvider" />
      </providers>
    </siteMap>
  </system.web>
  <!-- 
    The system.webServer section is required for running ASP.NET AJAX under Internet
    Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.6.0" newVersion="1.4.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.60919.0" newVersion="4.1.60919.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="mjjames.ControlLibrary" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.5119.25342" newVersion="1.2.5119.25342" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.4" newVersion="2.1.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.5100.19196" newVersion="5.6.5100.19196" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>