<?xml version="1.0"?>
<!-- 
  Note: As an alternative to hand editing this file you can use the 
  web admin tool to configure settings for your application. Use
  the Website->Asp.Net Configuration option in Visual Studio.
  A full list of settings and comments can be found in 
  machine.config.comments usually located in 
  \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <!--appSettings file="admininc_defaults\adminsettings.config">

  </appSettings>-->
  <!--connectionStrings configSource="admininc_defaults\connectionsettings.config">
    
  </connectionStrings-->
  <connectionStrings>
    <add name="CMSArchiveDataConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CMSArchiveData;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="dummyConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=null;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!-- 
      Set compilation debug="true" to insert debugging 
      symbols into the compiled page. Because this 
      affects performance, set this value to true only 
      during development.
    -->
    <trust level="Full"/>
    <webControls clientScriptsLocation="/aspnet_client/{0}/{1}/"/>
    <webServices>
      <wsdlHelpGenerator href="DefaultWsdlHelpGenerator.aspx"/>
    </webServices>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <remove assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <remove assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <remove assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <remove assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <remove assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <remove assembly="System.Web.Optimization, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
	<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <machineKey validationKey="D9F7287EFDE8DF4CAFF79011D5308643D8F62AE10CDF30DAB640B7399BF6C57B0269D60A23FBCCC736FC2487ED695512BA95044DE4C58DC02C2BA0C4A266454C" decryptionKey="BDAAF7E00B69BA47B37EEAC328929A06A6647D4C89FED3A7D5C52B12B23680F4" decryption="AES"/>
    <authentication mode="Forms">
      <forms name=".MJJAMESADMINFORMLOGIN" loginUrl="authentication/default.aspx" enableCrossAppRedirects="true"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <membership defaultProvider="SQLMembershipProvider">
      <providers>
        <clear/>
        <add applicationName="/" connectionStringName="ourDatabase" passwordFormat="Hashed" requiresQuestionAndAnswer="false" enablePasswordReset="true" enablePasswordRetrieval="false" name="SQLMembershipProvider" type="System.Web.Security.SqlMembershipProvider"/>
      </providers>
    </membership>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName=".MJJAMESADMINROLES" defaultProvider="SQLRoleProvider">
      <providers>
        <clear/>
        <add applicationName="/" connectionStringName="ourDatabase" name="SQLRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <trace localOnly="false"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="mjjames" namespace="mjjames.ControlLibrary.AdminWebControls" assembly="mjjames.ControlLibrary"/>
        <add tagPrefix="AjaxControlToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="mjjames" namespace="mjjames.AdminSystem" assembly="mjjames.AdminSystem"/>
        <add tagPrefix="mjjames" tagName="SiteSelector" src="~/userControls/SiteSelector.ascx"/>
      </controls>
      <namespaces>
        <remove namespace="System.Web.Helpers"/>
        <remove namespace="System.Web.Mvc"/>
        <remove namespace="System.Web.Mvc.Ajax"/>
        <remove namespace="System.Web.Mvc.Html"/>
        <remove namespace="System.Web.Routing"/>
        <remove namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <siteMap>
      <providers>
        <add siteMapFile="~/sitemaps/newsletters.sitemap" name="newsletterNavigation" type="System.Web.XmlSiteMapProvider"/>
        <add securityTrimmingEnabled="true" connectionStringName="ourDatabase" name="adminNavigation" type="mjjames.core.CustomSqlSiteMapProvider"/>
      </providers>
    </siteMap>
  </system.web>
  <!-- 
    The system.webServer section is required for running ASP.NET AJAX under Internet
    Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <modules>
      <remove name="URLRequestModule"/>
      <remove name="UrlRequestHandler"/>
    </modules>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mjjames.AdminSystem.RSSFeedManager.RSSFeedsBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="mjjames.AdminSystem.RSSFeedManager.RSSFeeds.customBinding0">
          <binaryMessageEncoding/>
          <httpTransport>
            <extendedProtectionPolicy policyEnforcement="Never"/>
          </httpTransport>
        </binding>
      </customBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <services>
      <service behaviorConfiguration="mjjames.AdminSystem.RSSFeedManager.RSSFeedsBehavior" name="mjjames.AdminSystem.RSSFeedManager.RSSFeeds">
        <endpoint binding="customBinding" bindingConfiguration="mjjames.AdminSystem.RSSFeedManager.RSSFeeds.customBinding0" contract="mjjames.AdminSystem.RSSFeedManager.RSSFeeds"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>