<?xml version="1.0" encoding="utf-8" ?>
<tables>
    <table id="pages" label="Page">
        <defaults>
            <field id="page_key" label="primary_key" primarykey="1" list="1" type="hidden"/>
            <field id="page_fkey" label="foreign key" foreignkey="1" list="1" listfilter="1" type="hidden" />
            <field id="pageid" label="page id" type="text" maxlength="12"/>
            <field id="navtitle" label="Navigation Title" type="text" list="1" treelistingtitle="1"  />
            <field id="accesskey" label="Access Key" type="text" maxlength="1" />
            <field id="metadescription" label="Meta Description" type="text" rows="4" />
            <field id="metakeywords" label="Meta Keywords" type="text" rows="4" />
            <field id="title" label="Page Title" type="text" list="1"/>
            <field id="body" label="Content" type="rte" />
            <field id="thumbnailimage" label="Thumbnail" type="file" preview="enabled" />
            <field id="showinnav" label="Main Navigation" type="checkbox" />
            <field id="showinfeaturednav" label="Side Navigation" type="checkbox" />
            <field id="showonhome" label="Show on HomePage" type="checkbox" />
            <field id="showinfooter" label="Footer Navigation" type="checkbox" />
            <field id="active" label="Active" type="checkbox" list="1" />
            <field id="sortorder" label="Main Nav SortOrder" type="text" maxlength="2" list="1"/>
            <field id="linkurl" label="Link to Another Page" type="text" />
        </defaults>
        <tabs>
            <tab id="main" label="Contents">
                <field id="page_key" />
                <field id="page_fkey" />
                <field id="navtitle" />
                <field id="title" />
                <field id="body" />
                <field id="linkurl" />
                <field id="active" />
            </tab>
            <tab id="nav" label="Navigations">
                <field id="showinnav" />
                <field id="showinfooter"/>
				<field id="sortorder" />
                <field id="accesskey" />
            </tab>
            <tab id="seo" label ="SEO">
                <field id="metadescription" />
                <field id="metakeywords" />
            </tab>
            <tab id="mjjames" label="MJJames Only">
                <field id="pageid" />
            </tab>
        </tabs>
    </table>
	<table id="newsletters" label="Newsletter">
		<defaults>
			<field id="newsletter_key" label="primary_key" primarykey="1" list="1" type="hidden"/>
			<field id="subject" label="Subject" type="text" list="1" />
			<field id="body" label="Content" type="rte" />
			<field id="date_created" label="Created" type="datetime" list="1" />
			<field id="date_sent" label="Sent" type="datetime" list="1"/>
		</defaults>
		<tabs>
			<tab id="main" label="Contents">
				<field id="newsletter_key" />
				<field id="subject"  />
				<field id="body" />
				<field id="date_created" />
				<field id="date_sent"  />
			</tab>
			<tab id="nav" label="Prayer Requests">

			</tab>
			<tab id="seo" label ="Articles">

			</tab>
		</tabs>
	</table>
	<table id="testimonies" label="Testimony">
		<defaults>
			<field id="testimony_key" label="testimony_key" type="hidden" primarykey="1" list="1"/>
			<field id="title" label="Testimony Title" type="text" list="1" />
			<field id="description" label="Description" type="rte" />
			<field id="active" label="Active" type="checkbox" list="1"/>
			<field id="project_fkey" label="Project" type="lookup" />
			<field id="video_id" label="Vimeo Video" type="lookup"/>
		</defaults>
		<tabs>
			<tab id="main" label="Testimony">
				<field id="testimony_key" />
				<field id="title" />
				<field id="description" />
				<field id="active"  />
				<field id="project_fkey" />
				<field id="video_id" />
			</tab>
		</tabs>
	</table>
	<table id="offers" label="Special Offer">
		<defaults>
			<field id="offer_key" label="offer_key" type="hidden" primarykey="1" list="1"/>
			<field id="title" label="Offer Title" type="text" list="1"/>
			<field id="description" label="Description" type="rte" />
			<field id="offer_start" label="Start Date" type="datetime" list="1" />
			<field id="offer_end" label="End Date" type="datetime" list="1"/>
			<field id="active" label="Active" type="checkbox" list="1"/>
			<field id="showonhome" label="Show on Home Page" type="checkbox" />
			<field id="showinfeed" label="Show in RSS Feed" type="checkbox" />
		</defaults>
		<tabs>
			<tab id="main" label="Offer">
				<field id="offer_key" />
				<field id="title" />
				<field id="description" />
				<field id="offer_start" />
				<field id="offer_end" />
				<field id="active" />
				<field id="showonhome" />
				<field id="showinfeed" />
			</tab>
		</tabs>
	</table>
	<table id="projects" label="Project">
		<defaults>
			<field id="project_key" label="project_key" primarykey="1" list="1" type="hidden"/>
			<field id="title" label="Project Title" list="1" type="text"  treelistingtitle="1" />
			<field id="description" label="Description" type="rte" />
			<field id="start_date" label="Start Date" list="1" type="datetime" />
			<field id="end_date" label="End Date" list="1" type="datetime" />
			<field id="active" label="Active" list="1" type="checkbox" />
			<field id="include_in_feed" label="Show in RSS Feed" type="checkbox" />
			<field id="photogalery_id" label="Photogallery" type="lookup"/>
			<field id="video_id" label="Vimeo Video" type="lookup"/>
		</defaults>
		<tabs>
			<tab id="main" label="Project">
				<field id="project_key" />
				<field id="title" />
				<field id="description" />
				<field id="start_date" />
				<field id="end_date" />
				<field id="active" />
				<field id="include_in_feed" />
				<field id="photogalery_id" />
				<field id="video_id"/>
			</tab>
		</tabs>
	</table>
</tables>