<!-- Default Application Settings - used in debug-->
<appSettings>
	<!-- admin tool -->
	<add key="FCKeditor:UserFilesPath" value="/uploads/"/>
	<add key="FCKeditor:BasePath" value="~/fckeditor/"/>
	<add key="uploaddir" value="/uploads/"/>
	<add key="maxFileSize" value="4"/>
	<add key="adminConfigXML" value="/admininc/adminDB.xml"/>
	
	<!-- frontend-->
	
	<add key="enquiryEmailTo" value="info@mjjames.co.uk" />
	<add key="SiteName" value="[siteurl] - Anthony Dry"/>
	<add key="DomainName" value="mjjames.development.mjjames.co.uk"/>
	
	<!-- Live Key
		<add key="DomainName" value="mjjames.co.uk"/>
		-->
	<!-- Licenses
			  <licenses>
				  <license id="4" name="Attribution License"
					  url="http://creativecommons.org/licenses/by/2.0/" /> 
				  <license id="6" name="Attribution-NoDerivs License"
					  url="http://creativecommons.org/licenses/by-nd/2.0/" /> 
				  <license id="3" name="Attribution-NonCommercial-NoDerivs License"
					  url="http://creativecommons.org/licenses/by-nc-nd/2.0/" /> 
				  <license id="2" name="Attribution-NonCommercial License"
					  url="http://creativecommons.org/licenses/by-nc/2.0/" /> 
				  <license id="1" name="Attribution-NonCommercial-ShareAlike License"
					  url="http://creativecommons.org/licenses/by-nc-sa/2.0/" /> 
				  <license id="5" name="Attribution-ShareAlike License"
					  url="http://creativecommons.org/licenses/by-sa/2.0/" /> 
			  </licenses>
		  -->
	<!-- add key="flickrCCLicense" value="1" />
	<add key="flickrApiKey" value="31f761f9dc11410491cd29d74540b844" />
	<add key="flickrApiSecret" value="f52f294b709e5d02" / -->
	<add key="cacheLocation" value="~/imageCache" />
	<!--add key="flickrUser" value="mjames" / -->

	<!-- laptop.mj
	<add key="recaptchaPublicKey" value="6LdYzgIAAAAAAACT6JEDFo4BQnX7hd8ctsfynEZM"/>
	<add key="recaptchaPrivateKey" value="6LdYzgIAAAAAAPQQmExiawEY2rsPT9HJPAz8pyb2"/>
	-->
	<!-- mjjames.co.uk -->
	<add key="recaptchaPublicKey" value="6LdQzgIAAAAAAAQWxXOse7_0gYVtQw-kU0rA5YR5"/>
	<add key="recaptchaPrivateKey" value="6LdQzgIAAAAAAKi4DhTFAUh_hL32g41OZ66Jfj_k"/>
	

</appSettings>