<connectionStrings>
 <add name="ourDatabase" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=Abellandscapes.co.uk;Integrated Security=True"
  providerName="System.Data.SqlClient" />
 <add name="archiveDatabase" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=CMSArchiveData;Integrated Security=True"
  providerName="System.Data.SqlClient" />
 <add name="CMSArchiveDataConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=CMSArchiveData;Integrated Security=True"
  providerName="System.Data.SqlClient" />
</connectionStrings>
