<connectionStrings>
 <add name="ourDatabase" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=adry;Persist Security Info=True;Integrated Security=true"
  providerName="System.Data.SqlClient" />
 <add name="CMSArchiveDataConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CMSArchiveData;Integrated Security=True"
  providerName="System.Data.SqlClient" />
 <add name="mjjames_co_ukConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=adry;Integrated Security=True"
  providerName="System.Data.SqlClient" />
 <add name="dummyConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=null;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  
</connectionStrings>
