<adminToolbox>
 <adminControls>
  <add name="Page Editor" accesslevel="1" url="~/dblisting.aspx?type=pages&amp;page_fkey=0" />
  <add name="Projects" accesslevel="0" url="~/dblisting.aspx?type=projects" />
  <add name="News" accesslevel="0" url="~/dblisting.aspx?type=articles" />
  <add name="Media" accesslevel="0" url="~/dblisting.aspx?type=media" />
  <add name="Newsletter Management" accesslevel="0" url="~/subscriptionmanagement.aspx" />
  <add name="Recycle Bin" accesslevel="0" url="~/recyclebin.aspx" />
  <add name="User Administration" accesslevel="1" url="~/dbusers.aspx" />
  <add name="System Settings" accesslevel="6" url="~/systemsettings.aspx" />
 </adminControls>
</adminToolbox>