<adminToolbox>
	<adminControls>
		<!-- these dont overrider but specified per site-->
		<!--
		  access level : value
		<asp:ListItem Text="None" Value="0" />
		<asp:ListItem Text="All" Value="1" />
		<asp:ListItem Text="System Admin" Value="2" />
		<asp:ListItem Text="Editor" Value="3" />
		<asp:ListItem Text="Site Admin" Value="4" />
	  -->
		<add name="Page Editor" accesslevel="1" url="~/listPage.aspx" />
		<add name="Banner Manager" accesslevel="1" url="~/listBanners.aspx"/>
		<add name="Article Editor" accesslevel="0" url="~/listArticles.aspx"/>
		<add name="Event Calendar" accesslevel="0" url="~/eventsCalendar.aspx"/>
		<add name="PhotoGallery Manager" accesslevel="1" url="~/photogalleryManagers.aspx"/>
		<add name="Blog Editor" accesslevel="0" url="~/editBlog.aspx"/>
		<add name="Podcast Manager" accesslevel="0" url="~/podcastManager.aspx"/>
		<add name="Newsletter Builder" accesslevel="0" url="~/newsletterBuilder.aspx"/>
		<add name="Media" accesslevel="0" url="~/listMedia.aspx"/>
	</adminControls>
</adminToolbox>