<adminToolbox>
	<adminControls>
		<!-- these dont overrider but specified per site-->
		<!--
		  access level : value
		  none            0
		  all             1
		  mjjames         2
		  editor          3
		  siteAdmin       4
		  media           5
	  -->
		<add name="Page Editor" accesslevel="1" url="~/listPage.aspx" />
		<add name="Banner Manager" accesslevel="1" url="~/listBanners.aspx"/>
		<add name="Article Editor" accesslevel="0" url="~/listArticles.aspx"/>
		<add name="Event Calendar" accesslevel="0" url="~/eventsCalendar.aspx"/>
		<add name="PhotoGallery Manager" accesslevel="1" url="~/photogalleryManagers.aspx"/>
		<add name="Blog Editor" accesslevel="0" url="~/editBlog.aspx"/>
		<add name="Podcast Manager" accesslevel="0" url="~/podcastManager.aspx"/>
		<add name="Newsletter Builder" accesslevel="0" url="~/newsletterBuilder.aspx"/>
		<add name="Media" accesslevel="0" url="~/listMedia.aspx"/>
	</adminControls>
</adminToolbox>