<!-- Default Application Settings - used in debug-->
<appSettings>
	<add key="FCKeditor:UserFilesPath" value="/uploads/"/>
	<add key="FCKeditor:BasePath" value="~/fckeditor/"/>
	<add key="uploaddir" value="/uploads/"/>
	<add key="fileTypes" value="image/jpeg,image/png,image/gif,image/pjpeg"/>
	<add key="maxFileSize" value="4"/>
	<add key="adminConfigXML" value="admininc/adminDB.xml"/>
</appSettings>