<connectionStrings>
	<add name="ourDatabase" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=tedgiffords;Persist Security Info=True;User ID=tedgiffords;Password=t3DG1ff0rds" providerName="System.Data.SqlClient" />
	<add name="tedgiffordsConnectionString" connectionString="Data Source=ENTERPRISE\SQLExpress;Initial Catalog=tedgiffords;Integrated Security=True"
	 providerName="System.Data.SqlClient" />
</connectionStrings>
