
/**** default wrapper ****/
body {
	font-family: Arial, Sans-Serif;
	background: #dbe5f3;
	font-size: 75%;
}

#wrapper {
	border: solid 5px white;
	border-width: 0 5px 5px 5px;
	background: #bed2ee;
}

#header {
	background: #8799FF;
	border-bottom: solid 5px white;
}

#navbar ul {
	border: solid 1px white;
	border-width: 1px 0;
}

#navbar ul li {
	border-right: solid 1px white;
	font-size: 1em;
	color: #fff;
}

#navbar ul li a {
	color: #fff;
	text-decoration: none;
	text-align: center;
}

#navbar ul li a:hover {
	text-decoration: underline;
}

#copyrightinfo {
	color: White;
	font-size: 0.85em;
}

#copyrightinfo a {
	color: White;
	text-decoration: none;
}

#copyrightinfo a:hover {
	text-decoration: underline;
}

h1.listingTitle, h2{
	font-size: 1.5em;
	color: #fff;
	font-weight: normal;
	text-transform: capitalize;
	line-height: normal;
	background:#8799FF none repeat scroll 0% 50%;
	border-color:white;
	border-style:solid;
	border-width:2px 0pt;
}

h2{
	font-size:1.25em;
}

.signout{
	color: #8799FF;
}

/**** pageListing ****/

.addPage, .subPages {
	text-align: right;
	color: #fff;
	font-weight: bold;
}

.backUp, .addBanner, .backListing {
	text-align: left;
	color: #fff;
	font-weight: bold;
}

.backUp:hover, .addBanner:hover, .addPage:hover, .backListing:hover, .subPages:hover {
	color: #f5f5f5;
}
.pageListing {
}

.pageListHeader {

}
.pageListRow {
}

.pageListRowAlternate {
}

.selectedRow
{
	background: #DBE5F3;
}

.pageListFooter {
}


/**** edit / add page ****/

#pageStatus {
	color: #fff;
	font-weight: bold;
	font-size: 1.5em;
}


.label {
	text-transform: capitalize;
	font-size: 1em;
}

.editTextArea {
	font: arial;
}

h4.title {
	background: #849AFF;
	color: #fff;
	text-align: center;
	border-bottom: 2px solid #fff;
}

span.thumbnail {
	border: 1px solid #ABADB3;
	background: #fff;
}
div.previewbanner {
	border: 2px solid #fff;
	background: #fff;
}

label.error
{
	margin-left: 0.5em;
	color: Red;
}

.listingTable {
	
}

.listingTable th {
	background: #8799FF;
	color: #fff;
}

.listingTable th a {
	color: #fff;
}

.listingTable th a:hover {
	color: #dedede;
}

.listingTable td a {
	color: #333;
}

.listingTable td a:hover {
	color: #000;
}

.addBanner, .user {
	text-align: right;
}

#leftCol, .leftCol {
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	height: 100%;
}

#leftCol a, .leftCol a {
	color: #fff;
}

#leftCol a:hover, .leftCol a:hover {
	text-decoration: underline;
}

.previewImg{
	border: 2px solid back;	
}

/* login */

#loginWrapper{
	border: 1px solid #fff;
	color: #000;
}

#centerBG{
	opacity: 0.30;
	background:#fff;
}

#centerBG{
	filter:alpha(opacity="30");
}

/* photogallery admin */



.photogallery 
{
	list-style: none;
	
}

.photo
{
	list-style: none;
	border: 1px solid #BED2EE;	
	text-align: center;
	font-size: 0.85em;
}

.photo img
{
	border: 1px solid #BED2EE;
}

span.buttons
{
	text-align: right;
}

span.buttons input
{
	vertical-align: middle;
}

.editphoto
{
	text-align: left;
}

/** calendar **/

div.ajax__calendar div.ajax__calendar_header
{
	background: #DBE5F3;
}

/* user authentication */

.passwordHint{
	float: right;
}

div.siteSelector{
	text-align:right;
	color: #8799FF;
}