.clear {
	clear: both;
}

hr.clear {
	border: none;
	height: 1px;
	margin: 0;
	padding: 0;
}

body * .hidden {
	display: none;
}

body {
}

#wrapper {
	position: relative;
	width: 90%;
	margin: auto;
}

#header {
	position: relative;
	padding: 0 0em;
	width: 100%;
}
#headerimage {
	float: left;
	width: 40%;
}

#banner {
	padding-left: 41%;
	width: 38%;
}

#navbar {
	clear: both;
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
}

#navbar ul {
	margin: 0;
	padding: 0;
	line-height: 2em;
}

#navbar ul li {
	position: relative;
	display: inline;
	margin: 0;
	padding: 0.4em 10px;
	list-style: none;
}

#navbar ul li a {
	margin: 0;
	padding: 0;
}


#body {
	position: relative;
	width: auto;
	min-height: 400px;
}

#footer {
	clear: both;
	position: relative;
	width: 100%;
}


#copyrightinfo {
	position: relative;
	float: right;
	width: 45%;
	text-align: right;
	margin: 0.25em;
}


h1.listingTitle, h2 {
	margin: 0pt;
	padding: 0.25em;
}

.signout {
	display: block;
	height: 2em;
	line-height: 2em;
	position: absolute;
	right: 0pt;
	text-align: right;
	top: 0pt;
	width: 5em;
	z-index: 100;
}

/* pageListing */

.addPage, .subPages {
	display: block;
	margin: 0em 0pt 0 50%;
	padding: 0 0 0;
	position: relative;
	width: 50%;
}

.backUp, .pageBanner, .backListing {
	position: relative;
	width: 50%;
	float: left;
	padding: 0;
	display: block;
}


.pageListHeader {
}
.pageListRow {
}

.pageListRowAlternate {
}

.pageListFooter {
}

#adminContent {
	padding: 0 0.5em;
}
/**** edit / add page ****/
#pageEditor {
	clear: both;
}

.ajax__tab_body {
	min-height: 550px;
}

.row {
	clear: both;
	position: relative;
	display: block;
}

.label, .labelwide {
	position: relative;
	width: 12em;
	display: block;
	float: left;
}

.labelwide {
	width: 16em;
}


input.textbox{
	width: 300px;
}

div.banners {
	margin-top: 0.5em;
}

div .previewbanner {
	width: 600px;
	margin: 1em auto;
}

span.thumbnail {
	margin: 0.25em 0;
	padding: 0.25em;
}

.previewThumbnailIMG {
	width: 124px;
}

h4.title {
	padding: 0;
	margin: 0;
	display: block;
	position: relative;
	clear: both;
	width: 100%;
}

.listingTable {
	position: relative;
	width: 90%;
	margin: 0.5em 0;
	overflow: visible;
}

.listingTable td, .listingTable th {
	padding: 0.25em;
}


.addBanner {
	float: right;
	position: relative;
	width: 50%;
}

#colContainer {
	position: relative;
	clear: both;
	width: 100%;
	margin-top: 1em;
	z-index: 0;
}

#leftCol, .leftCol {
	width: 20%;
	float: left;
	position: relative;
}

#rightCol {
	width: 78%;
	float: right;
	position: relative;
}

#rightCol h2 {
	display: inline-block;
}

.previewImg {
	clear: both;
	display: block;
}


/* login */
#loginWrapper{
	width: 25em;
	position: relative;
	margin: 0 auto;	
	padding: 0.5em;
}
#loginForm{
	width: 100%;
	position: relative;
	z-index:2;
}

#centerBG{
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	top: 0;
	left: 0;
	z-index: -1;
}


* html #centerBG{
	height:  10em !important;
}

.submit{
	width: auto;
	margin-left: 17.5em;
}

/* photogallery admin */

div.row div
{
	clear: both;
}


.photogallery
{
	clear: both;
	margin: 0;
	padding: 0.5em 0;
}

.photogallery .photo
{
	width: 160px;
	float: left;
	margin-right: 1%;
	padding: 0.5em;
}

.photo p.title, .photo p.description
{
	margin: 0;
	padding: 0;
}

.photo img
{
	margin: 0.5em auto;
	padding: 0;
	display: block;
}

.photogallery .insertphoto
{
	clear: both;
	margin-top: 0.5em;
	padding: 0.5em;
}

.photogallery .insertphoto label
{
	clear: both;
}

span.buttons
{
	display: block;
	margin-top: 0.5em;
}

span.buttons .submit
{
	margin: 0;
}

ul.photogallery li.editphoto
{
	width: 320px; /* double normal width */
}

.editphoto label
{
	float: none;
}

.editphoto
{
	position: relative;
}

.insertphoto 
{
	width: 230px;
}

.insertphoto input, .insertphoto textarea
{
	width: 220px;
}

.editphoto input, .editphoto textarea
{
	width: 155px;
}

.previewWrapper
{
	position: absolute;
	width: 155px;
	top: 0.5em;
	right: 0;
}

.editphoto span.buttons input, .insertphoto span.buttons input
{
	width: auto;
}


/* calendar */
div.ajax__calendar div
{
	clear: none;
}

/* recycle bin */

#leftCol p.description{
	padding: 0.5em 0.25em;
}